<!DOCTYPE html>
<html>

<head>
    <title>TIỆC - SỰ KIỆN NGUYỄN TY</title>
    <meta charset="utf-8" />
    <meta name="keyword" content="dich vu tiec cuoi, su kien nguyen ty">
    <%= stylesheet_link_tag "/frontend/css/style.css" %>
    <!-- CSS -->
    <%= stylesheet_link_tag "/frontend/css/normalize.css" %>
    <!--Reset CSS-->
    <%= javascript_include_tag "/frontend/js/hieuungsnow.js" %>
    <% if params[:controller] == "erp/nguyenty_com/frontend/category" && (params[:action] == "index" || params[:action] == "detail") %>
        <%= javascript_include_tag "/frontend/js/jquery-3.2.1.min.js" %>
        <%= stylesheet_link_tag "/frontend/js/jquery.fancybox.min.css" %>
        <%= javascript_include_tag "/frontend/js/jquery.fancybox.min.js" %>
    <% end %>
</head>

<body>
    <div id="container">
        <div id="menu">
            <%= render "erp/nguyenty_com/frontend/modules/menu" %>
        </div>
        <!--#menu-->
        <div id="logo">
            <%= render "erp/nguyenty_com/frontend/modules/slideshow" %>
        </div>
        <!--#slideshow-->
        <div id="content">
            <div id="header">
                <%= render "erp/nguyenty_com/frontend/modules/slogan" %>
            </div>
            <!--#header-->            
            
            <%= yield %>
            
            <div id="footer">
                <%= render "erp/nguyenty_com/frontend/modules/footer" %>                
            </div>
            <!--#footer-->
            
        </div>
        <!--#content-->
    </div>
    <!--#container-->
</body>
</html>